@reference "../../style.css";

.icon-grid img {
  @apply w-auto h-[40px] max-w-[40px] m-auto mb-[16px];
}

@media only screen and (max-width: 678px) {
  .icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.icon-grid p.h4title {
  @apply my-[8px] text-[16px] font-[600] leading-base;
}

.icon-grid p {
  @apply m-0 text-[16px] leading-base;
}
